<div class="uk-card uk-card-default uk-card-large uk-card-body uk-width-2-3@m uk-align-center">
    <h1 class="uk-card-title">Log in</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {method: :post, class: 'uk-form-horizontal'}) do |f| %>

      <%= devise_error_messages! %>

      <div class="notice uk-alert-success " ><%= notice %></div>
      <div class="alert uk-alert-danger " ><%= alert %></div>
      <br>

      <div class="uk-form-row">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'uk-input'  %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'uk-input' %>
      </div>

      <br>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me, class: 'uk-checkbox' %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <br>

      <div class="actions">
        <%= f.submit "Log in", class: "uk-button uk-button-primary" %>
      </div>
    <% end %>

    <br>

    <%= render "devise/shared/links" %>
</div>