/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
	font-family: Karla, sans-serif;
	background: #eee;
	zoom: 1.25;
}

header {
	text-align:center;
}

.logo {
	width:320px;
}

.block, .block > *{
	display:block;
}

.url {
	margin-top:0px;
}

#left-score {
	color:#ee1122;
	font-size:2em;
	font-weight:900;
}

#right-score {
	color:#0044ee;
	font-size:2em;
	font-weight:900;
}

#left-bets, #right-bets {
	font-size:18px;
}

