
<div uk-grid >
<div class="uk-align-center uk-width-1-1">
	<% if user_signed_in? %>
	  <%= link_to('Leave', destroy_user_session_path, method: :delete, class: "uk-button uk-button-large uk-button-secondary") %> 
	<% else %>
	  <%= link_to('Join', '/users/sign_up', class: "uk-button uk-button-large uk-button-secondary") %> 
	<% end %>
</div>
<div class="uk-width-1-3">
	<h1>MATCH 1</h1>
	<h2><span id="left-score">0</span>  <br> Ninjas in Pyjamas <br>
		<span id="left-bets">0 bets</span>
		<% if user_signed_in? %> <br><a href="#" id="left-bet" class="uk-button uk-button-danger"> BET TO WIN </a> <% end %>
	</h2>
	<h4>vs</h4>
	<h2><span id="right-score">0</span> <br> FaZe Clan <br>
		<span id="right-bets">0 bets</span>
		<% if user_signed_in? %> <br><a href="#" id="right-bet" class="uk-button uk-button-primary"> BET TO WIN </a><% end %>
	</h2>
</div>
<div class="uk-width-2-3">
	
	<ul id="events" class="uk-list uk-list-divider">
	</ul>
</div>
</div>