<!DOCTYPE html>
<html>
  <head>
    <title>Go Robot</title>
    <%= csrf_meta_tags %>

	<link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/css/uikit.min.css" />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit-icons.min.js"></script>

	<script src="https://checkout.stripe.com/checkout.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<a href="/">
  			<img src="/logo0.png" class="logo">
  			<h3 class="url block">Visit us at go-robot.herokuapp.com</h3>
  		</a>
  	</header>

  	<div class="uk-section">
    <div class="uk-container">
    	
    	<%= yield %>

    </div>
	</div>
  </body>
</html>
